@import '@components/Table.module.scss';

.secret {
  position: relative;
  padding: 4px;
  margin: -4px;
  width: fit-content;
  font-size: 0.8rem;
  
  &:not(:hover) {
    color: transparent;
    background: var(--color-border);

    &::after {
      content: "hover to reveal";
      position: absolute;
      left: 4px;
      color: var(--color-text);
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.columnProviderInfo {
  @extend .column;
  min-width: 16rem;
}

.columnBytesReplicated {
  @extend .column;
  min-width: 16rem;
}

.columnCountReplicated {
  @extend .column;
  min-width: 16rem;
}

.columnFlags {
  @extend .column;
  min-width: 14rem;
}

.columnProviderKey {
  @extend .fluidColumn;
  min-width: 26rem;
}

.providerCard {
  margin: 0.5rem;
  padding: 1.5rem;
  border: 1px solid var(--color-border);
}

.providerName {
  font-size: 0.8em;
  color: #7f7f7f;
}

.copy {
  color: var(--color-primary);
  text-decoration: underline;
  padding-left: 1rem;

  &:hover {
    cursor: pointer;
  }
}