@import 'Label.module.scss';

.body {
  
}

.slider {
  transition: 0.25s;
  width: 100%;
  display: block;
  appearance: none;
  background: var(--color-border);
  height: 2px;
  padding: 0;
  margin: 0.5rem 0;

  &::-webkit-slider-thumb {
    background: var(--color-primary);
    appearance: none;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem
  }

  &:focus {
    background: var(--color-text);
  }

  &:focus {
    outline: none;
  }
}