.body {
}

.filterMenu {
  border-bottom: 1px solid var(--color-border);
  padding: 1.5rem;
}

.filterMenuBody {
  display: flex;
  flex-direction: column;
  margin: 0 -1rem -1.5rem;
}

.filterMenuColumn {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 1rem;
}

.filterMenuRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.filterMenuButtonColumn {
  @extend .filterMenuColumn;

  flex-grow: 0;
  min-width: 10rem;
}

.indexButton {
  // text-decoration: underline;
  color: var(--color-primary);
  margin: 0 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.indexButtonDisable {
  @extend .indexButton;

  color: gray;
  pointer-events: none;
}

.disabledText {
  color: gray;
}

.pageIndex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;

  span {
    padding-top: 3px;
  }
}

.indexItems {
  margin-right: 20px;
  display: inline-flex;
  flexDirection: row;
  color: rgba(255, 255, 255, 0.7);
}

.indexButtonActive {
  @extend .indexButton;

  // color: var(--color-text);
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

.goToInput {
  width: 35px;
  margin-left: 10px;
}