.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-border);
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 10%;
}

.left {
  flex-shrink: 0;
  min-width: 220px;
}

.topRight {
  width: 100%;
  min-width: 10%;
  border-left: 1px solid var(--color-border);
}

.right {
  width: 100%;
  min-width: 10%;
  min-height: calc(100vh - 56px);
  border-left: 1px solid var(--color-border);
}

.appTitle {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 24px;
  border-right: var(--color-border);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1px;
}

.appVersion {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24px 0 24px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1px;
}

.appNavigation {
  padding: 88px 0 0 0;
}

.appNavigationItem {
  display: block;
  padding: 12px 24px 12px 24px;
  font-size: 12px;
  letter-spacing: 0.1px;
  transition: 200ms ease all;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.appNavigationSubItem {
  display: block;
  padding: 4px 24px 4px 32px;
  font-size: 12px;
  letter-spacing: 0.1px;
  transition: 200ms ease all;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 0.3;
  }
}
