.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
}

.success {
  @extend .body;

  color: var(--color-positive);
  border-color: var(--color-positive);
}

.error {
  @extend .body;
  
  color: var(--color-negative);
  border-color: var(--color-negative);
}

.icon {
  text-align: center;
  font-size: 2rem;
}

.message {
  border-top: 2px solid;
  border-color: inherit;
  padding-top: 1rem;
  margin-top: 0.5rem;
  width: 100%;
}