@import 'Form.module.scss';

.upload {
  // border: 2px dotted var(--color-border);
  border: 2px solid var(--color-border);
  background: none;
  color: var(--color-text);
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 4px;
  outline: 0;
  min-height: 40px;
  width: 100%;
  padding: 4px 24px 4px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 0.6px;
  font-weight: 600;
  overflow-wrap: break-word;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: 200ms ease all;
  transform: scale(1);
  text-decoration: none;
  cursor: default;

  > * {
    cursor: default;
  }

  &:not(.uploadReady) {
    &:focus-within, &:hover {
      background: var(--color-border);
    }
  }

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 0;
    opacity: 0;
  }
}

.uploadReady {
  border: none;
}