.body {
  position: absolute;
  left: 0;
  top: 88px;
  width: 288px;
  padding: 24px;
  background: var(--color-background);
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-radius: 0 8px 8px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.body > *:not(:last-child) {
  margin-bottom: 16px;
}

.heading {
  font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 16px;
}

.paragraph {
  font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica, arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 16px;
  font-size: 12px;
}