.body {
  position: absolute;
  left: 0;
  top: 88px;
  width: 288px;
  padding: 24px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 4px 4px 0;
}

.heading {
}

.paragraph {
}
