.body {
  position: absolute;
  border: 1px solid var(--color-border);
  background: var(--color-background);
  border-radius: 0.5rem;
  transform: translateY(-3rem);
  margin-left: 2rem;
  box-shadow: 0px 0px 6px 4px #0004;
  z-index: 100;
  opacity: 100%;
  transition: 0.15s;
  padding: 2rem;
  width: 30rem;

  &::before {
    content: "";
    margin-top: 1rem;
    display: block;
    position: fixed;
    width: 8px;
    height: 8px;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--color-background);
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }
}

.bottom {
  position: absolute;
  border: 1px solid var(--color-border);
  background: var(--color-background);
  border-radius: 0.5rem;
  transform: translateY(-3rem);
  margin-left: 2rem;
  box-shadow: 0px 0px 6px 4px #0004;
  z-index: 100;
  opacity: 100%;
  transition: 0.15s;
  padding: 2rem;
  width: 30rem;

  &::before {
    content: "";
    margin-top: 1rem;
    display: block;
    position: fixed;
    width: 8px;
    height: 8px;
    left: 0;
    bottom: 7px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--color-background);
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }
}

.bodyHidden {
  @extend .body;

  opacity: 0%;
  margin-left: 1rem;
}