.body {
  position: relative;
}

.label {
  font-size: 0.8em;
  text-transform: uppercase;
  display: block;
  color: gray;
}

.select {
  background: var(--color-background);
  border: none;
  border-bottom: 2px solid var(--color-border);
  padding: 4px 0;
  transition: 0.25s;
  color: var(--color-text);
  width: 100%;
  font-size: 0.8em;

  &:focus {
    outline: none;
    border-color: var(--color-text) !important;
  }

  &::placeholder {
    color: var(--color-border);
  }

  &, option {
    font-family: inherit;
  }
}