.searchLabel {
  padding: 1rem 1.5rem 0.5rem;
  font-size: 0.8rem;
}

.searchInput {
  background: none;
  outline: none;
  padding: 0 1.5rem 1rem;
  font-size: 1.0rem;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  text-transform: uppercase;
  font-size: 0.8rem;

  .column,
  .fluidColumn {
    border-right: none;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  color: rgba(255, 255, 255, 0.7);
  transition: 0.1s;

  &:hover {
    border-bottom-color: var(--color-primary);
  }
}

.column {
  width: 12rem;
  flex-shrink: 0;
  padding: 0.5rem 1.5rem;
  text-align: left;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.fluidColumn {
  @extend .column;
  flex-grow: 1;
}

.rowButton {
  padding: 8px 24px 8px 24px;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-border);
  transition: 200ms ease all;
  cursor: pointer;
  background: rgba(0, 0, 0, 1);
  position: relative;
  color: inherit;

  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.columnButton {
  @extend .rowButton;
  @extend .column;

  border: none;
  border-left: 1px solid var(--color-border);
  text-align: center;
  align-items: center;

  &:disabled {
    color: var(--color-border);
    cursor: not-allowed;
  }
}

.progress {
  height: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.progressBar {
  background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
  width: 80%;
  height: 100%;
  display: inline-flex;
}