.body {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  font-size: 10px;
  text-transform: uppercase;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.fluidColumn {
  min-width: 10%;
  width: 100%;
  padding: 8px 24px 8px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  align-self: stretch;
  border-right: 1px solid var(--color-border);
  overflow: hidden;
  position: relative;

  &:last-child {
    border-right: 0px;
  }
}

.column {
  width: 180px;
  flex-shrink: 0;
  padding: 8px 24px 8px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  align-self: stretch;
  border-right: 1px solid var(--color-border);
  overflow: hidden;

  &:last-child {
    border-right: 0px;
  }
}

.rowButton {
  padding: 8px 24px 8px 24px;
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-border);
  transition: 200ms ease all;
  cursor: pointer;
  background: rgba(0, 0, 0, 1);

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}

.progress {
  height: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.progressBar {
  background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
  width: 80%;
  height: 100%;
  display: inline-flex;
}
